<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
    
    <bean id="settleAccountInvokingCronTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
       <property name="targetObject">
           <ref bean="userServiceImpl" />
       </property>
       <property name="targetMethod">
           <value>settleAccount</value>
       </property>
       <property name="concurrent" value="false" />
    </bean>
    
    <bean id="settleAccountCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
           <ref bean="settleAccountInvokingCronTask" />
       </property>
       <property name="cronExpression">
           <value>0 */3 * * * ?</value><!-- 每天的1点到5点每隔60分钟触发 -->
       </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
       <property name="triggers">
           <list>
              <ref local="settleAccountCronTrigger" />
           </list>
       </property>
    </bean>
</beans>