<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
		当结果集中含有Null值时是否执行映射对象的setter或者Map对象的put方法。
		此设置对于原始类型如int,boolean等无效。
		<setting name="callSettersOnNulls" value="true" />
	</settings> -->
	
	<typeAliases>  
        <typeAlias type="com.yun.yweb.user.dto.User" alias="User" />
        <typeAlias type="com.yun.yweb.user.dto.UserTemp" alias="UserTemp" />
        <typeAlias type="com.yun.yweb.account.dto.Account" alias="Account" />
        <typeAlias type="com.yun.yweb.orders.dto.Orders" alias="Orders" />
        <typeAlias type="com.yun.yweb.userstock.dto.UserStock" alias="UserStock" />
        <typeAlias type="com.yun.yweb.income.dto.Income" alias="Income" />
        <typeAlias type="com.yun.yweb.netfeerecord.dto.NetfeeRecord" alias="NetfeeRecord" />
        <typeAlias type="com.yun.yweb.userrela.dto.UserRela" alias="UserRela" />
        <typeAlias type="com.yun.yweb.orderitem.dto.OrderItem" alias="OrderItem" />
        <typeAlias type="com.yun.yweb.recommendedrecord.dto.RecommendedRecord" alias="RecommendedRecord" />
        <typeAlias type="com.yun.yweb.orderitem.dto.OrderItemExtend" alias="OrderItemExtend" />
        <typeAlias type="com.yun.yweb.userrela.dto.UserRelaExtend" alias="UserRelaExtend" />
    </typeAliases>
    
    <plugins>
	 	<plugin interceptor="com.yun.framework.mybatis.plugins.PageInterceptor">
			<property name="databaseType" value="mysql"/>
		</plugin>
	</plugins>
	 
	
</configuration>	
